<!DOCTYPE html>
<html>

<head>
    <title>C89 HTTP Server</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
    <div class="container mt-3">
        <h1>Willkommen zum C89 HTTP Server!</h1>
        <p>Dieser Server läuft mit multi-threading in C89.</p>
        <p>Aktuelle Zeit:
            <script>document.write(new Date());</script>
        </p>
        <p>{{ hello }}</p>
    </div>
    
    <p class="footer"><em>Powered by C89 Multi-threaded HTTP Server</em></p>
</body>

</html>